= form_with(model: add_quantity_to_line_item, local: true) do |form|
  - if add_quantity_to_line_item.errors.any?
    #error_explanation
      %h2
        = pluralize(add_quantity_to_line_item.errors.count, "error")
        prohibited this add_quantity_to_line_item from being saved:
      %ul
        - add_quantity_to_line_item.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :quantity
    = form.number_field :quantity
  .actions
    = form.submit
